/* ---------*/
/*  font     */

@font-face {
    font-family: 'silkscreennormal';
    src: url('/viz/wargames/font/slkscr.eot');
    src: url('/viz/wargames/font/slkscr.eot?#iefix') format('embedded-opentype'),
         url('/viz/wargames/font/slkscr.woff') format('woff'),
         url('/viz/wargames/font/slkscr.ttf') format('truetype'),
         url('/viz/wargames/font/slkscr.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lets go Digital';
    src: url('/viz/wargames/font/lets_go_digital_regular-webfont.eot');
    src: url('/viz/wargames/font/lets_go_digital_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/viz/wargames/font/lets_go_digital_regular-webfont.woff') format('woff'),
         url('/viz/wargames/font/lets_go_digital_regular-webfont.ttf') format('truetype'),
         url('/viz/wargames/font/lets_go_digital_regular-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monkey';
    src: url('/viz/wargames/font/monkey.eot');
    src: url('/viz/wargames/font/monkey.woff') format('woff'), url('/viz/wargames/font/monkey.ttf') format('truetype'), url('/viz/wargames/font/monkey.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ---------*/
/*  maps     */

.land {
    stroke: #83F52C;
    stroke-width: 1;
    fill:none;  
}
.russia {
    stroke: #DD0048;
    stroke-width: 2;
    fill:none;  
}
.usa {
    stroke: #67C8FF;
    stroke-width: 2;
    fill:none;  
}
.point {
  fill: #67C8FF;
  stroke: #67C8FF;
  stroke-opacity: .5;
  stroke-width: .5px;
}
/* ------------*/
/*  common     */

body {

    font-family: monkey;
    text-transform:uppercase;
    color: #67C8FF;
    line-height: 120%;

}
.glowbox {
    border:2px solid #FFF;
    border-radius: 5px;
    box-shadow: 0 0 15px #999,
                inset 0 0 10em #222;
    box-shadow: 0 0 15px #005b8e,
                inset 0 0 10em #002033;
}

.glowbox a{
    color: #67C8FF;
}

.texttitle {
    border-bottom: 1px;
    color: #DD0048;
}

.column {
    float: left;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    size: 16px;
    font-weight: normal;
    margin-top: -30px;
    text-align: center;

}

a {
    color: inherit;
    text-decoration: none;
}

td {
    color: #83F52C;
    margin: 0px;
    padding: 0px;
    font-size: 8px;
    line-height:130%;
}
table {
    width: 100%;
}

td.hit {
    color: #67C8FF;
}
td.loc{
    text-align:right;
}
td.repo{
}
td.actor{
}
.glass {

}

.glass:after{

}

/* ------------*/
/*  elements   */

#container{
    margin: auto;
    width: 1580px;
}

#center {
    margin-top:12px;
    padding-right:10px;
}

#centermapoverlay {
    font-family: silkscreennormal;
    font-size: 10px;
    line-height: 12px;
    color: #DD0048;
    position: absolute;
    padding-left:20px;
    top: 240px;
    height:84px;
    overflow:hidden;
}
#paused {
    position: absolute;
    left: 850px;
    top: 170px;
    font-size:40px;
    display:none;
}

#centerbottom {
    height: 172px;
    width: 480px;
    overflow: hidden;
    color: #83F52C;
    padding:8px;
    margin-top:26px;
}
#centermiddle {
    padding-top: 10px;
    padding-bottom: 23px;
    width: 500px;

}
#centermiddle div{
    float:left;
    width:165px;
    line-height:18px;
    text-align:center;
}

#left {
    width:500px;
    padding-right:10px;
    transform: 20px;
    -ms-perspective: 20px;
    -webkit-perspective: 800;
    -moz-perspective: 20px;
}
#leftmap {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(10deg);
}
#leftmapoverlay {
    font-family: silkscreennormal;
    font-size: 10px;
    line-height: 12px;
    color: #DD0048;
    position: absolute;
    bottom: 20px;
    left:20px;
    height:84px;
    overflow:hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(10deg);
}
.smallwhite{
    color: #FFF;
    font-size:10px;
}
.bigred{
    font-size:26px;
    font-family: "Lets go Digital";
    color: #DD0048;
}
#leftmiddle {
    padding-top: 10px;
    padding-bottom: 30px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(10deg);
    text-align:center;

}
#leftmiddle div{
    float:left;
    width:165px;
    margin: auto;
    line-height:18px;
}


#leftbottom{
    margin-top:23px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(10deg);
}

#leftbottom1{
    float:left;
    width:230px;
    height:200px;

}
#leftbottom1overlay {
    font-family: silkscreennormal;
    font-size: 10px;
    line-height: 12px;
    color: #DD0048;
    position: absolute;
    top: 145px;
    left:20px;
    height:48px;
    overflow:hidden;
}
#leftbottom2{
    margin-left:30px;
    float:left;
    width:210px;
    height:180px;
    padding:10px;
    overflow:hidden;

}

#right {
    width:500px;
    padding-right:20px;
    transform: 20px;
    -ms-perspective: 20px;
    -webkit-perspective: 800;
    -moz-perspective: 20px;
}
#rightmap {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(350deg);
}
#rightmapoverlay {
    font-family: silkscreennormal;
    font-size: 10px;
    line-height: 12px;
    color: #DD0048;
    position: absolute;
    bottom: 20px;
    right:20px;
    text-align:right;
    height:84px;
    overflow:hidden;
}
#rightmiddle {
    padding-top: 10px;
    padding-bottom: 24px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(350deg);
    text-align:center;

}
#rightmiddle div{
    float:left;
    width:165px;
    margin: auto;
    line-height:18px;
}


#rightbottom{
    margin-top:30px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(350deg);
}

#rightbottom1{
    float:left;
    width:210px;
    height:180px;
    padding:10px;
    overflow:hidden;

}
#rightbottom2{
    margin-left:30px;
    float:left;
    width:210px;
    height:180px;
    padding:10px;
    overflow:hidden;

}

body {
    padding:30px;
}
